<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a Ph.D. researcher in Cellular Biology and Computational Biology with 4+ years experience with molecular 
		and cellular biology techniques and computational methods to solve biological problems.
		I am interested in quantitative image analysis applied to large datasets to find disease-related profiles and 
		applying my skills to optimize the development of new therapies for diseases! </p>
      </div>
      <div class="col-lg-4">
        <p>I have utilized cell culture and mechanistic assays (cell migration, proliferation, DNA damage) 
		combined with fluorescence microscopy and repurposing of dyes to discover and screen for biological effects.  </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
